# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
.next/
out/
build/

# Env
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
.vscode/
.idea/

# Vercel
.vercel
